body {
    display: flex;
    background: #feecec;
    height: 100%;
    margin: 10px;
    font-family: 'Nanum Gothic', 돋움;
}

#container {
    display: flex;
}

.side_bar {
    width: 200px;
    padding: 20px;
    border:10px;
    word-wrap: break-word;

}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sns {
    margin-left: auto; /* Move the sns div to the right */
}

.subtitle {
    font-size: 30px;
    text-align: center;
}

hr {
    border: 1px solid gray;
    margin: 10px 0;
 }