body {
    background: #feecec;
    height:100%;
    margin:10px;
    font-family: 'Nanum Gothic', 돋움;
    
}
.subtitle{
    font-size : 30px;
    text-align: center;
}
.side_bar{
    margin : 20px;
    background-color: blue;
}
